#player{
    width:500px;
    background:-webkit-gradient(linear, left top, left bottom, 
    from(#4a4a4a),
    to(#232323));
    border-radius:50px;
    height:100px;
}
#player>div{
    display:inline-block;
    height: 80px;
	overflow: hidden;
}

#play-pause-btns, #next-previous-btns, #volume{
    width:100px;
}
#seek-bar{
    width:200px;
}

#play-pause-btns{
	background: #eee;
	width: 80px;
	border-radius: 50%;
	margin: 10px;
}